@import "tailwindcss";

@font-face {
  font-family: "FoundersGrotesk-Semibold";
  src: url("/fonts/FoundersGrotesk-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal-Regular";
  src: url("/fonts/NeueMontreal-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

